#app {
  font-family: "Montserrat", sans-serif;
}

.navbar-toggler {
  background-color: #a350e8;
}

.router-link-exact-active {
  font-weight: bold;
}

.btn-primary {
  background-color: #a350e8;
  border-color: #a350e8;
}
